### Loading required liabraries

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
import random
#import statsmodels.api as sm

### Loading and creating our Data Frame

In [2]:
df = pd.read_csv("salary.csv")
df.head()

,salary,exprior,yearsworked,yearsrank,market,degree,otherqual,position,male,Field,yearsabs
0,53000.0,0,0,0,1.17,1,0,1,1,3,0
1,58000.0,1,0,0,1.24,1,0,1,1,2,0
2,45500.0,0,0,0,1.21,1,0,1,1,3,2
3,35782.0,0,2,1,0.99,1,0,1,1,4,1
4,34731.0,0,2,2,0.91,1,0,1,1,4,1

### examining the data frame

In [3]:
df.shape

(514, 11)

In [4]:
print('Number of employee in the Data Frame is : ',len(df))

Number of employee in the Data Frame is :  514

In [5]:
#df.info()

In [6]:
null_values= df.isnull().sum().sum()
print('Number of missing values is: ',null_values)

Number of missing values is:  1

###  Splitting the data set to Training and Testing

In [9]:
#df = pd.DataFrame(np.random.randn(100, 2))
df_split = np.random.rand(len(df)) < 0.8
df_train = df[df_split]
df_test = df[df_split]
#df_test
df_train.head()

           0         1
2   1.941001 -0.660395
9   1.127463  1.047440
17  0.764222  0.213652
25  1.317386 -0.236560
27  0.976896  0.199581

In [11]:
train, test = train_test_split(df, test_size=0.2)
train.head()

           0         1
86  0.216351 -0.876777
35 -0.701728  0.903058
55 -0.744965 -2.714729
22  0.771601  0.407695
72  0.162229 -0.907203